
  
  .navbar2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
   
    background: rgba(23, 23, 23, 0.9);
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .scrolled .navbar2 {
    background-color: black; /* Change this to your desired background color */
    opacity: 1;
    
  }


  
  